@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #17191C;
    --globalnav-background: rgba(22, 22, 23, .2);
    --inset: rgba(255,255,255,0.2);
    --globalnav-backdrop-filter: saturate(180%) blur(10px);
    --globalnav-backdrop-filter-level-two: saturate(180%) blur(20px);

    --core-grey-5: #F9F9FA;
    --core-grey-20: #E9E9EB;
    --core-black-100: #08090B;
    --core-black-contrast: #17191C;
    --core-black-contrast-2: #282B2E;
    --core-black-contrast-3: #464C4F;
}

html {
    scroll-behavior: smooth;
    height: -webkit-fill-available;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    user-select: none;
}

body {
    color: #E9E9EB;
    height: 100%;
    min-height: -webkit-fill-available;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
    background-size: cover;
    background-repeat: no-repeat;
}

#root {
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.app {
    width: 100vw;
    height: 100%;
}

.bg {
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.title-bar {
    width: 100%;
    background: var(--core-black-100);
}

.bg-heroBlack {
    background: var(--core-black-contrast);
}

.taskbar__shell {
    padding: 16px;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    box-shadow: inset 0 0 0 -1px var(--inset), inset -1px 0 0 var(--inset), inset 0 -1px 0 0 var(--inset), inset 1px 1px 0 var(--inset);
    -webkit-backdrop-filter: var(--globalnav-backdrop-filter);
    backdrop-filter: var(--globalnav-backdrop-filter);
}

.line-height {
    line-height: 24px;
}

.item:active {
    transform: scale(1.1);
    opacity: 0.8;
}

.item {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 0 1px 2px rgb(0,0,0,0.6);
}

.grid > .item {
    min-width: 108px;
    min-height: 108px;
}

@media screen and (min-width: 768px) {
    .icon {
        width: 64px;
        height: 64px;
    }

    .item {
        font-size: 14px;
    }

    .grid > .item {
        min-width: 148px;
        margin-bottom: 5px;
    }
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.search-container {
    width: 100%;
    max-width: 380px;
}

.input {
    outline: none;
    color: white;
    border-radius: 30px;
    background-color: #282B2E;
}

.bg-frosted {
    background: rgba(0,0,0,0.3);
    -webkit-backdrop-filter: var(--globalnav-backdrop-filter-level-two);
    backdrop-filter: var(--globalnav-backdrop-filter-level-two);
}

.file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 3rem;
}

.file input {
    min-width: 14rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: pointer;
}

.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 3rem;
    padding: 0.75rem 1rem;
    line-height: 1.5;
    color: #555;
    border: 0.075rem solid #ddd;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgba(0,0,0,.05);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    text-align: left;
}

.file-custom:hover:before {
    background-color: #dedede;
}

.file-label {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 13px;
    color: #282828;
    text-align: left;
    padding: 0 105px 0 15px;
    pointer-events: none;
    cursor: pointer;
}

@keyframes spinner {
    to { transform: rotate(360deg); }
}

.spinner {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: text-bottom;
    border: 0.35em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner .75s linear infinite;
    animation: spinner .75s linear infinite;
}

.embla {
    overflow: visible;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    text-align: center;
}
.embla__slide div:nth-child(6) .menu,
.embla__slide div:nth-child(12) .menu,
.embla__slide div:nth-child(18) .menu,
.embla__slide div:nth-child(24) .menu{
    left: calc(-120%);
}

/* backgrounds */
.core-grey-5 {
    background-color: var(--core-grey-5);
}
.core-grey-20 {
    background-color: var(--core-grey-20);
}
.core-black-contrast {
    background-color: var(--core-black-contrast);
}
.core-black-contrast-2 {
    background-color: var(--core-black-contrast-2);
}
.core-black-contrast-3 {
    background-color: var(--core-black-contrast-3);
}

.border-core-black-contrast-3 {
    border-color: var(--core-black-contrast-3);
}

.text-black {
    color: #282B2E;
}
.text-white {
    color: var(--core-grey-5);
}
.inset {
    box-shadow: inset 0 0 0 3px white;
}

body.theme-light .appLabel {
    color: #4f4f4f !important;
    text-shadow: none;
}

body.theme-light .title-bar {
    text-shadow: none;
    background: none;
    box-shadow: inset 0 0 2px rgba(255,255,255,1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

body.theme-light .svg {
    color: #4f4f4f !important;
}

body.theme-light .taskbar__shell {
    box-shadow: inset 0 0 2px rgba(255,255,255,1), 0 0 0 1px rgba(0,0,0,0.1);
}

body.theme-light .search-container input {
    color: #4f4f4f;
    background-color: white !important;
}

.icon {
    width: 80px;
    height: 80px;
    background-size: contain;
    border-radius: 10px;
    transition: 0.1s all;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.icon--big {
    width: 96px;
    height: 96px;
}
@media (max-width: 420px) {
    .icon {
        width: 58px;
        height: 58px;
    }
}
